/*
    任务发布页面样式
*/

.task-base-setting .fill-area{
    width: 430px;
}
.task-base-setting input{
    width: 146px;
}
/*任务基础设置*/
.customer-account input{
    width: 311px;
}
.task-base-setting .task-unit-price{
    width: 500px;
}
.total-price{
    margin-left: 28px;
}
.total-price i{
}
/*任务内容设置*/
.task-name input{
    width:360px;
}
/*任务提交内容*/
.task-submit{
    padding-left: 27px;
}
.task-submit input{
   height: 12px;
    margin-right: 12px;
}
.task-submit ul{
    margin-bottom: 20px;
}
.task-submit li{
    float: left;
    margin-right:118px;
}
.tips{
    text-align: right;
    color: #d91516;
    margin-top: 2px;
}
label{
    font-weight: normal;
}
textarea{
    width: 702px;
    outline:none;
    resize: none;
    border-radius: 4px;
    padding:8px 8px;
    margin-left: 5px;
    border: 1px solid #dddddd;
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.task-con-setting textarea{
    height: 260px;
}
.task-con-setting .remark textarea{
    height:160px;
}
.task-con-setting textarea:focus{
    border: 1px solid #66afe9;
    box-shadow: -2px 2px 2px rgba(102, 175, 233, 0.2);
    transition:all .4s ease;
    -webkit-transition:all .4s ease;
    -moz-transition:all .4s ease;
    -ms-transition:all .4s ease;
    -o-transition:all .4s ease;
}
.btn-section{
    width: 240px;
    height: 30px;
    margin:16px auto;
}
.btn-section button{
    width: 96px;
    height: 30px;
    background: #428ce5;
    color: #fff;
    line-height: 18px;
}
.btn-section .save-draft{
    margin-right: 42px;
}